/* fonts */
@import '@fontsource-variable/manrope';
@import '@fontsource-variable/jetbrains-mono';

/* presentation */
@import '@animotion/core/theme';

/* tailwind */
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';


@font-face {
	font-family: "Abstract";
	src: url("/abstract.ttf");
}

@font-face {
	font-family: "Gothic";
	src: url("/urw-gothic-demi-olique.ttf");
}


/* reset */
*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* defaults */
:root {
	--r-background-color: rgb(214,0,249);
	--r-background-color: linear-gradient(90deg, rgba(214,0,249,1) 0%, rgba(3,63,209,1) 35%, rgba(104,153,255,1) 100%); 
	--r-main-font: 'Abstract';
	--r-main-font-size: 42px;
	--r-main-color: black;
	--r-heading-font: 'Abstract';
	--r-code-font: 'JetBrains Mono Variable';
	--r-link-color: darkgray;
	--ease: linear(0 0%, 0.0036 9.62%, 0.0185 16.66%, 0.0489 23.03%, 0.0962 28.86%, 0.1705 34.93%, 0.269 40.66%, 0.3867 45.89%, 0.5833 52.95%, 0.683 57.05%, 0.7829 62.14%, 0.8621 67.46%, 0.8991 70.68%, 0.9299 74.03%, 0.9545 77.52%, 0.9735 81.21%, 0.9865 85%, 0.9949 89.15%, 1 100%);
}

body {
	background: radial-gradient(circle, rgba(77,81,100,1) 0%, rgba(30,30,38,1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	margin: 0;
	padding: 2rem;
  }

/* code block */
div:has(> pre) {
	padding: var(--spacing-4) var(--spacing-8);
	height: 950px;
	width: 1000px;
	background-color: rgb(36, 41, 46);
	border-top: 1px solid oklch(34% 0.02 272);
	border-radius: var(--radius-lg);
}

/* view transitions */
html {
	view-transition-name: none;
}

 img {
  border-radius: 10px;
}

.text-3xl {
	/* text-shadow: 3px 3px 12px black; */
	/* 
	background-clip: text;
	-webkit-text-fill-color: transparent; */
	min-height: 50px;
	padding-top:10px;
	padding-bottom: 5px;
	background: linear-gradient(90deg, rgba(94,158,238,1) 0%, rgba(99,94,214,1) 100%);
    color: transparent;
    background-clip: text;
}

.text-lg {
	min-height: 50px;
	padding-top:10px;
	padding-bottom: 5px;
	background: linear-gradient(90deg, rgba(94,158,238,1) 0%, rgba(99,94,214,1) 100%);
    color: transparent;
    background-clip: text;
}

.text-base {
	font-family: 'Gothic';
	font-size:xx-large;
	color: #5e9eee;
	text-shadow: 1px 1px 4px black;
}

::view-transition-group(*) {
	animation-duration: 0.6s;
	animation-timing-function: var(--ease);
}

/* animations */
.enter {
	animation: enter 0.6s var(--ease);
}

.rotate {
	animation: rotate 0.6s var(--ease);
}

@keyframes enter {
	from {
		filter: blur(40px);
		scale: 0;
	}
}

@keyframes rotate {
	from {
		filter: blur(4px);
		scale: 2;
		rotate: -1turn;
	}
}